LR_problem_House price prediction

In [2]:
#Assigning a working directory
%cd "C:\Users\Anirban\Desktop\Data Sc\regression_linear\House_price_prediction"

C:\Users\Anirban\Desktop\Data Sc\regression_linear\House_price_prediction

In [33]:
#Importing required python modeules
import statsmodels.formula.api as smf
import pandas as pd
import numpy as np
from sklearn import linear_model

In [34]:
# Importing data in data frame
df = pd.read_excel('HousePrice.xlsx')
df

   Area_of_floor  No_of_room Age_of_construction  Sale_price
0           1200         2.0                  24      650000
1           2500         4.0                  21      665000
2           2800         3.0                  15      700000
3           3200         4.0              Thirty      680000
4           3600         NaN                  11      850000
5           4200         6.0                  12      910000

In [35]:
#checking if any missing value
df.isnull().sum()

Area_of_floor          0
No_of_room             1
Age_of_construction    0
Sale_price             0
dtype: int64

So, We a missing value on 'No_of_room' column .So, as per Data Mining missing value treatment we will apply median(as no_of_room is a discrete data) in place of missing value. 

---->Problem 1

In [41]:
#check if any non-numeric data in our data frame
df.applymap(np.isreal).sum()

Area_of_floor          6
No_of_room             6
Age_of_construction    5
Sale_price             6
dtype: int64

So, we got a non-nemeric data for Age_of_construction coulmn ..we will check the data and replace that with correct data. 

---->Problem 2

In [37]:
#solving Problem 1 , we are replacing median for the missing value of No_of_room column.

df.No_of_room=df.No_of_room.fillna(df.No_of_room.median())

In [42]:
df.isnull().sum()

Area_of_floor          0
No_of_room             0
Age_of_construction    0
Sale_price             0
dtype: int64

In [48]:
# Solving Problem 2, we are replacing the character value with required numeric value

df.Age_of_construction[df.Age_of_construction == 'Thirty'] = 30

df.applymap(np.isreal).sum()

C:\Users\Anirban\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Area_of_floor          6
No_of_room             6
Age_of_construction    6
Sale_price             6
dtype: int64

In [52]:
#Building a LR model

reg=linear_model.LinearRegression()
reg.fit(df[['Area_of_floor','No_of_room','Age_of_construction']],df.Sale_price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [53]:
#Now We can pass 'Area_of_floor','No_of_room','Age_of_construction' variables to get a new Sales_proce

#Q1.Find Sales price for 3000sqft Area, 4 rooms and 40 yrs old building
reg.predict([[3000,3,40]])

array([567139.93393243])

In [54]:
#Q2.Find Sales price for 2500sqft Area, 4 rooms and 5 yrs old building
reg.predict([[2500,4,5]])

array([836504.60757534])